.BlocoFotos {
  display: flex;
  max-width: 415px;
  margin: 0 auto;
}
  .BlocoFotos div {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px salmon;
  }
  .FotoLu {
    width: 100%;
  }
  .FotoHow {
    width: 120%;
  }

